/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/
.uabb-new-ib-img {
  height: 350px;
}
.ginput_container.ginput_container_select select {
  padding: 15px !important;
}
.product-plp-grid .plp_box_btn:hover {
  color: #bc1a01 !important;
}
html.firefox .bx-wrapper .bx-loading {
  display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide {
  visibility: visible;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer .storename .store-container {
  display: inline-block !important;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}
.fl-page-nav-right .fl-page-nav-search a.fa-search {
  padding: 0px 0 0px 15px !important;
}

ul#topbar li a {
  color: #f9f9f8;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
ul#topbar .storename .phone a span:before {
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
  margin-top: -2px;
  font-size: 16px;
  vertical-align: sub;
}
.f-0 h1 {
  font-size: 0px !important;
}
.brand-sec .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#topbar li a:hover {
  color: #414042;
}

div.gform_wrapper#gform_wrapper_3 ul.gfield_radio li input[type="radio"],
div.gform_wrapper#gform_wrapper_3 ul.gfield_checkbox li input[type="checkbox"] {
  margin-top: 4px !important;
}
div.gform_wrapper ul.gfield_radio li input[type="radio"],
div.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
  margin-top: 2px !important;
}
.fl-page-header-primary .fl-logo-img {
  max-width: 70% !important;
}
.clear-multi .ginput_container_time input {
  padding: 0 !important;
  min-height: 50px !important;
  text-align: center !important;
}
.product-grid .fl-button {
  background-color: #bc1a01 !important;
  border: 1px solid #bc1a01 !important;
}
.product-grid .fl-button span {
  color: #f9f9f8 !important;
}
.product-grid .fl-button:hover {
  background-color: transparent !important;
}
.product-grid .fl-button:hover span {
  color: #bc1a01 !important;
}
.brand-sec .slick-track {
  margin: 0 auto;
}
.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

.product-grid .fl-button {
  background-color: #bc1a01 !important;
  border: 1px solid #bc1a01 !important;
}
/* select{
  min-height: 50px !important;
} */
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-grid .fl-button span {
  color: #f9f9f8 !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #bc1a01 !important;
}

form select {
  padding: 6px 0px !important;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
  vertical-align: top !important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}

.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}

.uabb-gf-style
  .gform_wrapper
  ul.gform_fields
  li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
  padding-right: 15px;
}

/*------------------END TOP BAR STYLES ------------------*/
/* .fs-dropdown{
	background: transparent !important;
} */
.fs-dropdown .fs-options {
  padding: 5px 0;
}
.fs-option {
  line-height: 1.3;
}
.facet_filters .fs-wrap.multiple .fs-option {
  padding-left: 10px !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #bc1a01;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #e43015 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #e43015 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #e43015 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #e43015 !important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #bc1a01!important;
    color: #fff!important;
	text-transform: uppercase;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #e43015!important;
    color: #fff!important;
	text-transform: uppercase;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }

  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  ul#topbar > li:last-child {
    display: block !important;
  }
  .social-icons-container {
    text-align: center;
  }
  .fl-button span.fl-button-text {
    color: #fff;
  }

  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .brand-sec .slick-slider {
    padding: 0 20px;
  }
  .uabb-image-carousel .slick-prev {
    left: 5px !important;
  }
  .uabb-image-carousel .slick-next {
    right: 5px !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .fl-module-menu ul#menu-copyright-bar-menu.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .fl-callout-photo .fl-photo-content.fl-photo-img-jpg img,
  .fl-photo .fl-photo-content.fl-photo-img-jpg img {
    width: 100%;
  }
  .fl-content-slider .fl-slide-bg-photo,
  .fl-content-slider .fl-slide-foreground {
    position: absolute;
  }
  .fl-content-slider .fl-slide-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fl-content-slider .fl-slide-foreground .fl-slide-content-wrap {
    display: none;
  }
  .fl-content-slider .fl-slide-foreground .fl-slide-photo-wrap,
  .fl-content-slider .fl-slide-3 .fl-slide-foreground .fl-slide-content-wrap {
    display: block;
  }

  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 9;
  }
  /* Slider height issue on mobile closed */
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 60%;
    float: left;
  }
  li#field_14_3,
  li#field_14_9,
  li#field_14_10,
  li#field_5_3,
  li#field_5_9,
  li#field_5_10,
  li#field_10_3,
  li#field_6_8,
  li#field_6_1 {
    padding-right: 0px !important;
  }
  .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 100% !important;
  }
  .rug-pad-images .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  .fl-module-menu ul#menu-copyright-bar-menu.menu {
    flex-direction: column;
  }
  .global-footer-sec .fl-row-content .fl-col-group .fl-col-small {
    width: 100% !important;
  }
  .cat-boxes .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-builder-content .boxes-on-mobile-full-width {
    width: 100% !important;
  }

  .fl-page-bar .fl-page-bar-row .text-right {
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }

  ul#topbar > li:last-child {
    float: right !important;
  }

  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }
  .uabb-module-content.uabb-photo .uabb-photo-content img,
  .uabb-module-content.uabb-photo .uabb-photo-content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  button#responsive-menu-button {
    top: 60px !important;
  }
}
@media (max-width: 450px) {
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right {
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
}

.facet_filters strong {
  color: #bc1a01;
}

.button-wrapper-default a,
.button-wrapper-default a.button {
  width: 90%;
  background: #f9f9f8;
  color: #414042;
  border: 2px solid #414042;
  padding: 10px 0;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s;
}
.button-wrapper-default a:hover {
  background: #414042;
  color: #f9f9f8;
  border: 2px solid #414042;
  text-decoration: none;
}
@media (max-width: 320px) {
  .web-form .fl-module-content {
    margin: 20px 7px;
  }
  .message,
  ul#topbar .phone span {
    font-size: 10px !important;
  }
  button#responsive-menu-button {
    top: 55px !important;
  }
}
body.admin-bar button.rmp_menu_trigger {
  margin-top: 32px !important;
}
body.admin-bar .rmp-container {
  padding-top: 32px !important;
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #bc1a01 !important;
    color: #bc1a01 !important;
}